{% extends "layout.html" %} {% block main %}
<section class="jumbotron text-center" id="mainBanner">
  <div class="container">
    <h1 class="jumbotron-heading" style="font-family: 'Norwester';">ABOUT</h1>
    <p class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus purus,
      molestie sed felis eget, lobortis ornare sapien.
    </p>
  </div>
</section>
<div class="main-text">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus purus,
    molestie sed felis eget, lobortis ornare sapien. Donec ornare, metus in
    fringilla laoreet, nunc felis dignissim felis, vitae ullamcorper libero
    tortor sit amet lorem. Sed vel diam et magna lobortis rhoncus commodo sit
    amet dui. Nullam eu porta nulla. Pellentesque quis velit eu nulla varius
    suscipit. In et enim ac est mattis dignissim. Quisque vel orci id sem
    ultrices pretium in lacinia diam. Nullam pellentesque rhoncus massa, et
    vestibulum odio vulputate vitae. Ut eget leo lectus. In dapibus elementum
    fringilla. Maecenas vitae ex eget felis gravida suscipit eu ac dui. Aenean
    posuere augue lobortis mauris cursus, in iaculis mauris ornare. Fusce
    pretium pretium lectus eget luctus. Vestibulum quis dolor quis nibh dapibus
    molestie. Nullam aliquam bibendum arcu quis maximus.
  </p>
  <p>
    Vivamus auctor ipsum quis bibendum vulputate. Phasellus pretium feugiat
    velit at cursus. Duis bibendum massa quis quam dignissim suscipit. Quisque
    eget enim sit amet elit fringilla ornare ac bibendum ipsum. In hendrerit
    velit leo, et pulvinar velit condimentum a. Cras sit amet egestas tellus,
    eget iaculis ante. Nullam egestas felis ipsum, id eleifend massa pretium
    vitae. Maecenas lacinia placerat ligula, et eleifend dui maximus
    condimentum. Aliquam tincidunt tincidunt metus, in condimentum dolor rutrum
    a. Mauris laoreet iaculis rutrum. Etiam metus ante, sollicitudin quis nulla
    sagittis, ullamcorper molestie augue. Fusce vitae molestie enim, et
    vulputate est. Aenean dapibus justo eleifend blandit malesuada. Vestibulum
    sit amet nisi molestie, facilisis erat porta, tincidunt nunc. Fusce dui
    massa, eleifend feugiat elit et, finibus facilisis lacus. Nulla semper leo
    quis dapibus vulputate.
  </p>
  <p>
    Donec vulputate felis magna, quis fringilla odio vestibulum ut. Donec urna
    neque, efficitur id mattis in, posuere dapibus neque. Cras gravida, odio non
    mattis feugiat, mi lorem porttitor ex, ut efficitur lectus quam id nisl.
    Morbi elit urna, vestibulum id iaculis sit amet, facilisis at nulla. Nunc
    egestas imperdiet ante, quis pellentesque metus faucibus id. Vivamus quis
    consequat turpis. Praesent id laoreet nisi. Nunc volutpat, lacus eget
    interdum sollicitudin, ante justo suscipit justo, in ultricies dui dui id
    leo. Vivamus ut ex non nibh faucibus egestas ac eget tellus. Nulla
    sollicitudin, massa at pretium pulvinar, arcu lacus tempor sem, vel semper
    leo nisl eu purus. Phasellus sapien nibh, rutrum in urna id, ultrices
    vestibulum massa. Etiam nibh nisi, mollis dapibus ultricies eget, sagittis
    tempor nunc. Morbi tincidunt sollicitudin est, a eleifend orci tempor id.
  </p>
</div>

<a href="#" class="btn btn-primary scrollUp">
  <i class="fa fa-arrow-circle-o-up"></i>
</a>
{% endblock %}
